6.7/
Layout\ Templates/
Auto\ Layout\ Presets/
Lightroom\ 5.0\ Registration/
Color\ Profiles/
Locations/
Device\ Icons/
Metadata\ Presets/
Email\ Address\ Book/
Preferences/
Slideshow\ Templates/
FTP\ Presets/
Text\ Style\ Presets/
Filename\ Templates/
Text Templates/
Watermarks/
Web\ Galleries/
Keyword\ Sets/
Web\ Templates/
Label\ Sets/
Lightroom 5.0 Registration
